.content {
    display: flex;
    font-family: "Roboto", sans-serif;
}

.hang {
    display: flex;
    flex-direction: column;
}

.hang button {
    width: 40px;
    height: 30px;
    margin: 2px 10px;
    background-color: rgb(176, 202, 255);
    border: 2px solid rgb(0, 81, 188);
    cursor: pointer;
}

#chua-dat {
    width: 40px;
    height: 30px;
    margin: 2px 10px;
    background-color: rgb(255, 242, 227);
    border: 2px solid rgb(255, 207, 147);
    cursor: pointer;
}

#da-dat {
    width: 40px;
    height: 30px;
    margin: 2px 10px;
    background-color: rgb(255, 172, 78);
    border: 2px solid rgb(255, 207, 147);
    cursor: pointer;
}

table {
    border-spacing: 0;
}

th,
td {
    border: 1px solid #585858;
}